# grammars/aquila.cson

scopeName: 'source.aquila'
name: 'Aquila'
fileTypes: [ 'aq' ]
limitLineLength: false

patterns: [
  { # //
    comment: 'Single-line comment rule'
    name: 'comment.line.aquila'
    match: '//.*$'
  }
  { # /**
    comment: 'Multiple-lines comment rule'
    contentName: 'comment.line.aquila'
    begin: '\\/\\*\\*'
    beginCaptures:
      0: name: 'comment.line.aquila'
    end: '\\*\\*\\/'
    endCaptures:
      0: name: 'comment.line.aquila'
  }
  { # nested instructions
    comment: 'Nested instructions' # should add the parentheses ?
    contentName: 'markup.other.forloop.aquila'
    begin: '(for |if | while )\\('
    beginCaptures:
      1: name: 'punctuation.definition.bold.aquila'
    end: 'end\\-for|end-if|end-while'
    endCaptures:
      0: name: 'punctuation.definition.bold.aquila'
    patterns: [{ include: '$self' }]
  }
  {
    comment: 'Macro PreProcessor rule'
    match: '(#[a-zA-Z]*) (.*)'
    captures:
      1: name: 'punctuation.definition.bold.aquila'
      2: name: 'comment.line.aquila'
  }
]
