# grammars/aquila.cson

scopeName: 'source.aquila'
name: 'Aquila'
fileTypes: [ 'aq' ]
limitLineLength: false

patterns: [
  # comments
  {
    comment: 'single-line comment rule'
    name: 'comment.line.aquila'
    match: '//.*$'
  }
  {
    comment: 'multiple-lines comment rule'
    contentName: 'comment.block.aquila'
    begin: '\\/\\*\\*'
    beginCaptures:
      0: name: 'comment.block.aquila'
    end: '\\*\\*\\/'
    endCaptures:
      0: name: 'comment.block.aquila'
  }
  # instructions
  {
    comment: 'nested instructions'
    contentName: 'markup.other.forloop.aquila'
    begin: '(for |if | while )\\('
    beginCaptures:
      1: name: 'punctuation.definition.bold.aquila'
    end: 'end\\-for|end-if|end-while'
    endCaptures:
      0: name: 'punctuation.definition.bold.aquila'
    patterns: [
      match: 'else'
      name: 'punctuation.definition.bold.aquila'
      { include: '$self' }
    ]
  }
  # PreProcessor
  {
    comment: 'macro PreProcessor rule'
    match: '(#[a-zA-Z]*) (.*)'
    captures:
      1: name: 'entity.name.tag.aquila'
      2: name: 'string.unquoted.aquila'
  }
  # declarations
  {
    comment: 'variable declaration with explicit type and value'
    match: '(declare) (int|float|bool|list|auto) ([a-zA-Z_]+[0-9a-zA-Z_]*) (.+)'
    captures:
      1: name: 'punctuation.definition.bold.aquila'
      2: name: 'support.type.aquila'
      3:
        name: 'support.other.aquila'
        patterns: [{
          match: 'if|else|end-if|for|end-for|while|end-while|declare|overwrite|safe|trace|void|auto|int|float|bool|list|function'
          name: 'invalid.illegal.aquila'
        }]
      4:
        name: 'constant.other.aquila'
        patterns: [{ include: '$self' }]
  }
  {
    comment: 'variable declaration with explicit type'
    match: '(declare) (int|float|bool|list) ([a-zA-Z_]+[0-9a-zA-Z_]*)'
    captures:
      1: name: 'punctuation.definition.bold.aquila'
      2: name: 'support.type.aquila'
      3:
        name: 'support.other.aquila'
        patterns: [{
          match: 'if|else|end-if|for|end-for|while|end-while|declare|overwrite|safe|trace|void|auto|int|float|bool|list|function'
          name: 'invalid.illegal.aquila'
        }]
  }
  {
    comment: 'variable declaration with value'
    match: '(declare) ([a-zA-Z_]+[0-9a-zA-Z_]*) (.+)'
    captures:
      1: name: 'punctuation.definition.bold.aquila'
      2:
        name: 'support.other.aquila'
        patterns: [{
          match: 'if|else|end-if|for|end-for|while|end-while|declare|overwrite|safe|trace|void|auto|int|float|bool|list|function'
          name: 'invalid.illegal.aquila'
        }]
      3:
        name: 'constant.other.aquila'
        patterns: [{ include: '$self' }]
  }
  # assignments
  {
    comment: 'assignment "="'
    match: '\\='
    name: 'keyword.operator.aquila'
  }
  # symbols (variables, AL operators, etc.) -> excludes variable types
  {
    comment: 'variables'
    match: '\\$[a-zA-Z_]+[0-9a-zA-Z_]*'
    name: 'variable.other.aquila'
  }
  {
    comment: 'list variables access using brackets []'
    match: '(\\$[a-zA-Z_]+[0-9a-zA-Z_]*)(\\[)([^\\[\\]]*)(\\])'
    captures:
      1: 'variable.other.aquila'
      2: 'string.interpolated.aquila'
      3: patterns: [{ include: '$self' }]
      4: 'string.interpolated.aquila'
  }
  {
    comment: 'arithmetical & logical operators' # BROKEN ? (test one by one)
    match: '[\\+\\-\\*\\/\\%\\<\\>\\{\\}\\:\\~\\&\\|\\^]'
    name: 'keyword.other.aquila'
  }
  # functions
  {
    comment: 'control keyword return'
    match: '(return)(\\()([^\\(\\)]*)(\\))'
    captures:
      1: name: 'keyword.control.aquila'
      2: name: 'string.interpolated.aquila'
      3: patterns: [{ include: '$self' }]
      4: name: 'string.interpolated.aquila'
  }
  {
    comment: 'loop control keywords'
    match: '(continue|break)(\\()([^\\(\\)]*)(\\))'
    captures:
      1: name: 'keyword.control.aquila'
      2: name: 'string.interpolated.aquila'
      3: name: 'invalid.illegal.aquila'
      4: name: 'string.interpolated.aquila'
  }
  {
    comment: 'other keywords'
    match: '(trace|trace_func) (.*)'
    captures:
      1: name: 'support.class.aquila'
      2: patterns: [{ include: '$self' }]
  }
  {
    comment: 'print_str & print_str_endl functions'
    match: '(print_str|print_str_endl)(\\()(.*)(\\))' # maybe we use quotes after all ? idk
    captures:
      1: name: 'support.function.aquila'
      2: name: 'string.interpolated.aquila'
      3: name: 'markup.raw.aquila'
      4: name: 'string.interpolated.aquila'
  }
  {
    comment: 'all other functions'
    match: '([a-zA-Z_]+[0-9a-zA-Z_]*)(\\()([^\\(\\)]*)(\\))'
    captures:
      1: name: 'support.function.aquila'
      2: name: 'string.interpolated.aquila'
      3:
        name: 'variable.parameter.aquila'
        patterns: [{ include: '$self' }]
      4: name: 'string.interpolated.aquila'
  }
  # variable types
  {
    comment: 'integers & floats'
    match: '[0-9]+[\\.?[0-9]+]?'
    name: 'constant.numeric.aquila'
  }
  {
    comments: 'bools'
    match: 'true|false'
    name: 'constant.language.aquila'
  }
  {
    comment: 'lists'
    match: '\\[[^\\[\\]]*\\]'
    patterns: [{ include: '$self' }]
  }
]


















































#
